body {
  color: #ecf0f1;
  text-align: center;
  background: #2980b9;
}
#mine-grid {
  margin-left: auto;
  margin-right:auto;
}
.pure-button {
  font-size: 110%;
  color: #ecf0f1;
}
.button-primary {
  background: #2ecc71;
}
